@import '../abstract/base';

@media screen and (max-width: 490px) {
    .apresentacao {
        .intro {
            h1 {
                font-size: 8.5vw;
            }

            p {
                font-size: 5vw;
            }
        }
    }

    #pag1 {
        padding-top: 20%;
        scroll-margin-top: 50px;
    }

    #pag2 {
        a {
            padding: 0;
        }
    }

    #pag4 {
        padding: 20% 0;
        scroll-margin-top: 20px;

        .contatos {
            margin: 30px 0;
        }
    }

    .description {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    a {
        font-size: $tamanho-relativo-fonte / 1.5;
    }

    p {
        font-size: $tamanho-relativo-fonte / 2.5;
    }

    .apresentacao {
        .perfil {
            img {
                transform: translateY(-5%);
                max-width: 200px;
            }
        }
    }

    .title {
        font-size: $tamanho-relativo-fonte * 1.5;
    }

    #pag1 {
        scroll-margin-top: 15px;
    }
    #pag2 {
        scroll-margin-top: 90px;
    }
    #pag3 {
        scroll-margin-top: 70px;
    }

    #pag1 a, #pag2 a, #pag3 a {
        margin: 15px 0;
    }

    #pag1 .sobreMim .resumo p { 
        font-size: $tamanho-relativo-fonte / 1.7;
        max-width: 100%;
    }

    .skills {
        gap: 15px;
        .skill {
            border-radius: 10px 10px 0 0;
        }
    }

    .projetos {
        h2 {
            font-size: $tamanho-relativo-fonte;
        }
    }

    .description .projeto__title {
        font-size: 8vw;
    }
    .description .description__buttons .bt {
        font-size: 3.5vw;
    }

    .footerconteiner {
        h2 {
            font-size: $tamanho-relativo-fonte / 1.2;
        }

        li {
            font-size: $tamanho-relativo-fonte / 1.7;

            a {
                font-size: $tamanho-relativo-fonte / 1.7;
            }
        }
    }
}

@media screen and (min-width: 650px) {
    .apresentacao {
        .intro {
            align-items: flex-start;
            text-align: left;
        }

        .perfil {
            img {
                position: relative;
                top: -5px;
                max-width: 45vw;
                max-height: 40vw;
            }
        }
    }

    .projetos {
        h2 {
            font-size: $tamanho-fonte / 2;
        }
    }

    .footerconteiner {
        h2 {
            font-size: $tamanho-fonte / 1.5;
        }

        li {
            font-size: $tamanho-fonte / 2.5;
        }
    }

}
@media screen and (min-width: 650px) and (max-width: 720px) {
    .description {
        .projeto__title {
            font-size: 5vw;
            margin-bottom: 0;
        }
        .description__flex {
            width: 80vw;
            justify-content: space-around;
            gap: 17px;
            padding: 1em;
            height: 60vh;
            flex-flow: column nowrap;
            p {
                text-align: center;
                padding: 0 5vw;
                max-width: 90%;
                font-size: $tamanho-fonte * .25;
            }
            img {
                width: 75%;
            }
        }
        .description__buttons {
            .bt {
                width: auto;
                height: 40px;
                font-size: $tamanho-relativo-fonte * .35;
            }
            img {
                height: 25px;
                width: 25px;
            }
        }
    }
}

@media screen and (min-width: 720px) and (max-width: 990px) {
    #pag1 {
        .sobreMim {
            flex-direction: column;
            padding: 0;
            align-items: center;

            .perfil {
                margin: 0 50px 30px 50px;
                position: relative;
                right: 10px;
            }

            .resumo {
                flex-direction: column;
                align-items: center;
                text-align: center;

                h2 {
                    padding: 20px 0;
                }
            }
        }
    }


}

@media screen and (min-width: 900px) {
    .apresentacao {
        .perfil {
            img {
                max-width: 60vh;
            }
        }
    }

    #pag2 {

        .skills {
            width: 70%;
        }
    }
}
