@import '../abstract/variaveis';

#pag3 {
    @include pullBack;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    scroll-margin-top: 100px;
    label{
        display: none
    }
    input{
        color: black;
        margin-top: 30px;
    }
    @include input-gradient;

    .projetos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .projeto{
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            background-color: $fundo-claro;
            padding: 0 20px 20px;
            margin: 5px 30px 30px;
            border-radius: 15px;

            box-shadow: 0px 0px 10px #272727a6;

            @include boxHover;

            .projeto__title{
                color: #ffff;
                width: fit-content;
                padding: 10px 0;
                font-weight: 600;
            }

            img{
                width: 80vw;
                max-width: 300px;
                border-radius: 10px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.description {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    align-items: center;
    justify-content: center;
    
    z-index: 9999;
    top: 0;
    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(20px);
    img {
        width: 400px;
        border-radius: 10px;
    }
    .projeto__title {
        font-size: $tamanho-relativo-fonte / 2;
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.773);
        color: #fff;
        width: auto;
        padding: .5em;
        border-radius: 15px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    .gradientLine {
        height: 6px;
    }
    .description__flex {
        background-color: rgba(255, 255, 255, 0.419);
        border-radius: 20px;
        padding: 2em;
        display: flex;
        gap: 50px;
        justify-content: space-between;
        p {
            font-weight: 500;
            max-width: 30vw;
            line-height: 1.5em;
        }
    }
    .description__buttons {
        display: flex;
        margin-top: 30px;
        gap: 50px;
        height: 50px;
        img {
            background-color: lightgray;
            padding: 6px;
            width: 40px;
            height: 40px;
            border-radius: 12px;
            &:hover {
                background-color: $roxo;
                cursor: pointer;
            }
        }
        @include input-gradient;
    }
}