@import '../abstract/variaveis';
@include line-gradient;

.gradientLine {
    height: 1px;
}

header {
    background-color: $fundo;
    height: fit-content;
    z-index: 2;
    top: 0;
    position: sticky;

    a {
        color: white;
        font-size: $tamanho-fonte / 2;
        font-weight: 1000;

        &:hover {
            cursor: pointer;
        }
    }

    nav {
        height: 70px;
        padding: 0 5vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: $tamanho-fonte / 2;
        h2 {
            width: 50px;
        }
        .menu-icon {
            img {
                width: 25px;
                padding: 6px;
                
                &:hover {
                    background-color: #ffffff;
                    cursor: pointer;
                    border-radius: 12px;
                }
            }
        }
    }
}
