@import '../abstract/variaveis';

#pag1{
    height: 80vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 150px;

    @include pullBack;
    @include input-gradient;
    label{
        display: none;
    }
    #bt{
        width: 150px;
    }
    .sobreMim{
        width: 88vw;
        height: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .resumo{
            display: flex;
            flex-flow: column;
            width: fit-content;
            align-items: center;
            text-align: center;
            justify-content: center;
            p{
                padding-bottom: 40px;
                word-spacing: 3px;
                line-height: 1.5em;
                letter-spacing: 1px;
                max-width: 730px;
                color: #ffff;
            }
        }
    }
}