@mixin typing {
    @keyframes typing {
        from {
            width: 0;
        }
    }
    @keyframes blinking {
        50% {
            border-color: transparent;
        }
    }
    animation: typing 3s steps(17), 
    blinking 0.5s infinite step-end alternate;
}

@mixin boxHover{
    transition: transform .3s;
    &:hover{
        cursor: pointer;
        transform: scale(1.15);
        transition: transform .3s;
    }
}
    
@keyframes background {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

@mixin fundo-gradient {
    background: $gradient;
    background-size: 400% 100%;
    animation: background 7s infinite alternate ease-in-out;
}

@mixin input-gradient {
    #bt {
        @include fundo-gradient;
        color: #ffff;
        width: 200px;

        padding: 10px 20px;
        border: none;
        border-radius: 30px;

        font-size: $tamanho-fonte / 2.5;
        font-weight: 550;

        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
        box-shadow: 0px 3px 4px #272727a6;
        transition: transform .3s, box-shadow .2s;

        &:hover {
            cursor: pointer;
            background-color: white;
            color: #000000;
            background-image: none;
            transform: translate(0px, -3px);
            box-shadow: 0px 5px 8px #272727c7;
            transition: transform .3s;
        }
    }
}

@mixin titulo-gradient {
    width: fit-content;
    padding: 10px 30px;
    margin: 15px 0 25px;

    font-size: $tamanho-fonte;
    font-weight: 600;
}

@mixin line-gradient {
    .gradientLine {
        height: 6px;
        width: 100%;
        border-radius: 3px;
        @include fundo-gradient;
    }
    .skill{
        .gradientLine{
            border-radius: 0;
        }
    }
}

@mixin pullBack {
    @include line-gradient;

    a {
        color: white;
        position: relative;
        left: -5px;
        @include titulo-gradient;
        text-decoration: none;
        font-weight: bold;

        h1 {
            &::before {
                content: './';
            }
        }
    }
}