// Cores
$fundo: #13131F;
$fundo-claro: #212121;
$laranja: #DF5025;
$azul: #3B05EF;
$roxo: #8257E6;
$amarelo-escuro: #c99300;
$gradient: linear-gradient(to right, $laranja, $azul, $amarelo-escuro);

// Font
$fonte: 'Open Sans', sans-serif;

$tamanho-fonte: 3rem;
$tamanho-relativo-fonte: 7vw;
